<div class="header-top logged-in">
    <p>You are currently logged in.</p>
    @using(Html.BeginUmbracoForm<LogoutSurfaceController>("PerformLogout")) {<button class="button hollow secondary">Logout</button>}
</div>