<form action="#" role="search" class="top-bar search-form input-group" id="search-form" data-animate="hinge-in-from-top spin-out">
    <label for="search-field" class="show-for-sr" accesskey="4">Search:</label>
    <input type="search" placeholder="Search" class="input-group-field" id="search-field">
    <button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
</form>