@model IHtmlString
<script type="text/html" id="cookie-banner-template" data-cookie-name="cookiePolicyAcceptance" data-cookie-duration="20">
    <div class="cookie-banner">
        <div class="container">@Model</div>
    </div>
</script>