@model IEnumerable<RelatedItemViewModel>
<section class="links-section">
    <div class="container">
        <h2>Related links</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="columns small-12 medium-4">
                    <a href="@item.Link.Url" target="@item.Link.Target" class="card">
                        <span class="img-holder" style="background-image: url(@item.ImageUrl);"></span>
                        @if (item.Content != null)
                        {
                            <span class="card-section">@item.Content</span>
                        }
                    </a>
                </div>
            }
        </div>
    </div>
</section>