<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <repositories xdt:Transform="Replace">
    <repository name="#{COURIER_REPO_NAME}" alias="#{COURIER_REPO_ALIAS}" type="CourierWebserviceRepositoryProvider" visible="#{COURIER_REPO_VISIBLE}">
      <url>#{COURIER_REPO_URL}</url>
      <user>#{COURIER_REPO_USERID}</user>
    </repository>
  </repositories>

  <security>
    <!-- Authentication method can be either: 'credentials' or 'token' - defaults to credentials if not specified.
         API key should be set if using token-auth and should match the API key of the site we're communicating with.
         Key should be a random generated key with a length of at least 10 characters. -->
    <auth xdt:Transform="Replace">
      <method>token</method>
      <apikey>#{COURIER_AUTH_APIKEY}</apikey>
    </auth>
  </security>
  
  <paths xdt:Transform="Remove" />
  <paths xdt:Transform="InsertIfMissing">
    <root>#{COURIER_PATHS_ROOT}</root>
    <revisions>#{COURIER_PATHS_REVISIONS}</revisions>
  </paths>
</configuration>