<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<settings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <content>
  <notifications>
    <!-- the email that should be used as from mail when umbraco sends a notification -->
    <email xdt:Transform="Replace">#{SMTP_FROM}</email>
  </notifications>    
  </content>

  <web.routing xdt:Transform="SetAttributes" umbracoApplicationUrl="#{UMBRACO_APPLICATIONURL}"></web.routing>
</settings>