<rewriteMaps>
    <rewriteMap name="JnccDefraGovSiteRedirectsList" defaultValue="">

<add key="/BIYP2007" value="http://tna.europarchive.org/20080102105757/http://www.jncc.gov.uk/page-3921-theme=default" />
<add key="/BIYP2008" value="http://tna.europarchive.org/20090205015607/http://www.jncc.gov.uk/page-4229-theme=default" />
<add key="/BIYP2009" value="http://tna.europarchive.org/20100407144416/http://www.jncc.gov.uk/page-4229-theme=default" />
<add key="/BIYP2010" value="http://tna.europarchive.org/20110303230516/http://www.jncc.gov.uk/page-4229-theme=default" />
<add key="/BIYP2011" value="http://tna.europarchive.org/20120104172438/jncc.defra.gov.uk/page-4229-theme=default" />
<add key="/BIYP2013" value="http://collections.europarchive.org/tna/20140727184326/http://jncc.defra.gov.uk/page-4229-theme=default" />
<add key="/default.aspx" value="https://jncc.gov.uk/" />
<add key="/default.aspx?page=0" value="https://jncc.gov.uk/" />
<add key="/default.aspx?page=1" value="https://jncc.gov.uk/our-work/geological-conservation/" />
<add key="/default.aspx?page=1359" value="https://jncc.gov.uk/our-work/international-conventions/" />
<add key="/default.aspx?page=1363" value="https://jncc.gov.uk/our-work/international-conventions/" />
<add key="/default.aspx?page=1364" value="https://jncc.gov.uk/our-work/bern-convention/" />
<add key="/default.aspx?page=1365" value="https://jncc.gov.uk/our-work/convention-on-biological-diversity-cbd/" />
<add key="/default.aspx?page=1366" value="https://jncc.gov.uk/our-work/the-convention-on-the-conservation-of-migratory-species-of-wild-animals/" />
<add key="/default.aspx?page=1367" value="https://jncc.gov.uk/our-work/convention-on-international-trade-in-endangered-species-of-wild-fauna-and-flora-cites/" />
<add key="/default.aspx?page=1369" value="https://jncc.gov.uk/our-work/ramsar-convention/" />
<add key="/default.aspx?page=1370" value="https://jncc.gov.uk/our-work/ospar-convention/" />
<add key="/default.aspx?page=1371" value="https://jncc.gov.uk/our-work/the-convention-concerning-the-protection-of-the-world-cultural-and-natural-heritage-unesco-world-heritage-convention/" />
<add key="/default.aspx?page=1381" value="https://jncc.gov.uk/our-work/agreement-on-the-conservation-of-albatrosses-and-petrels-acap/" />
<add key="/default.aspx?page=1382" value="https://jncc.gov.uk/our-work/agreement-on-the-conservation-of-cetaceans-of-the-black-sea-mediterranean-sea-and-contiguous-atlantic-areas-accobams/" />
<add key="/default.aspx?page=1383" value="https://jncc.gov.uk/our-work/african-eurasian-migratory-waterbird-agreement-aewa/" />
<add key="/default.aspx?page=1384" value="https://jncc.gov.uk/our-work/conservation-of-small-cetaceans-in-the-baltic-north-east-atlantic-irish-and-north-seas-ascobans/" />
<add key="/default.aspx?page=1385" value="https://jncc.gov.uk/our-work/agreement-on-the-conservation-of-populations-of-european-bats-eurobats/" />
<add key="/default.aspx?page=1386" value="https://jncc.gov.uk/our-work/memorandum-of-understanding-concerning-conservation-measures-for-marine-turtles-of-the-atlantic-coast-of-africa/" />
<add key="/default.aspx?page=1399" value="https://jncc.gov.uk/our-work/special-protection-areas-overview/" />
<add key="/default.aspx?page=1405" value="https://jncc.gov.uk/our-work/special-protection-areas-overview/" />
<add key="/default.aspx?page=1426" value="https://jncc.gov.uk/our-work/air-pollution/" />
<add key="/default.aspx?page=1445" value="https://jncc.gov.uk/our-work/marine-special-areas-of-conservation/" />
<add key="/default.aspx?page=1456" value="https://jncc.gov.uk/our-work/special-areas-of-conservation-overview/" />
<add key="/default.aspx?page=1457" value="https://sac.jncc.gov.uk/" />
<add key="/default.aspx?page=1458" value="https://sac.jncc.gov.uk/site/" />
<add key="/default.aspx?page=1459" value="https://sac.jncc.gov.uk/" />
<add key="/default.aspx?page=1513" value="https://sac.jncc.gov.uk/habitat/" />
<add key="/default.aspx?page=1514" value="https://sac.jncc.gov.uk/species/" />
<add key="/default.aspx?page=1515" value="https://sac.jncc.gov.uk/" />
<add key="/default.aspx?page=1531" value="https://jncc.gov.uk/our-work/fisheries/" />
<add key="/default.aspx?page=1533" value="https://jncc.gov.uk/about-jncc/contacts/marine-pollution-response/" />
<add key="/default.aspx?page=1584" value="https://mhc.jncc.gov.uk/" />
<add key="/default.aspx?page=1599" value="https://jncc.gov.uk/our-work/marine-recorder/" />
<add key="/default.aspx?page=161" value="https://jncc.gov.uk/our-work/ramsar-convention/" />
<add key="/default.aspx?page=162" value="https://jncc.gov.uk/our-work/special-protection-areas-overview/" />
<add key="/default.aspx?page=1729" value="https://jncc.gov.uk/about-jncc/" />
<add key="/default.aspx?page=1730" value="https://jncc.gov.uk/about-jncc/corporate-information/accessibility-statement/" />
<add key="/default.aspx?page=1731" value="https://jncc.gov.uk/about-jncc/corporate-information/contact-points-and-enquiries/" />
<add key="/default.aspx?page=1824" value="https://jncc.gov.uk/our-work/uk-biodiversity-indicators/" />
<add key="/default.aspx?page=1987" value="https://webarchive.nationalarchives.gov.uk/20111010094208/http://jncc.defra.gov.uk/page-1987" />
<add key="/default.aspx?page=2129 " value="https://jncc.gov.uk/about-jncc/our-performance/annual-report-and-accounts/" />
<add key="/default.aspx?page=23" value="https://jncc.gov.uk/our-work/special-areas-of-conservation-overview/" />
<add key="/default.aspx?page=2303" value="https://jncc.gov.uk/our-work/guidelines-for-selection-of-sssis/" />
<add key="/default.aspx?page=2410" value="https://jncc.gov.uk/our-work/marine-benthic-data-management-category/" />
<add key="/default.aspx?page=2731" value="https://jncc.gov.uk/our-work/geological-conservation/" />
<add key="/default.aspx?page=2868" value="https://jncc.gov.uk/our-work/northern-fulmar-fulmarus-glacialis/" />
<add key="/default.aspx?page=2869" value="https://jncc.gov.uk/our-work/manx-shearwater-puffinus-puffinus/" />
<add key="/default.aspx?page=2873" value="https://jncc.gov.uk/our-work/european-storm-petrel-hydrobates-pelagicus/" />
<add key="/default.aspx?page=2874" value="https://jncc.gov.uk/our-work/leachs-storm-petrel-oceanodroma-leucorhoa/" />
<add key="/default.aspx?page=2875" value="https://jncc.gov.uk/our-work/northern-gannet-morus-bassanus/" />
<add key="/default.aspx?page=2876" value="https://jncc.gov.uk/our-work/great-cormorant-phalacrocorax-carbo/" />
<add key="/default.aspx?page=2877" value="https://jncc.gov.uk/our-work/european-shag-phalacrocorax-aristotelis/" />
<add key="/default.aspx?page=2878" value="https://jncc.gov.uk/our-work/arctic-skua-stercorarius-parasiticus/" />
<add key="/default.aspx?page=2879" value="https://jncc.gov.uk/our-work/great-skua-stercorarius-skua/" />
<add key="/default.aspx?page=2881" value="https://jncc.gov.uk/our-work/mediterranean-gull-larus-melanocephalus/" />
<add key="/default.aspx?page=2882" value="https://jncc.gov.uk/our-work/black-headed-gull-chroicocephalus-ridibundus/" />
<add key="/default.aspx?page=2883" value="https://jncc.gov.uk/our-work/common-gull-larus-canus/" />
<add key="/default.aspx?page=2886" value="https://jncc.gov.uk/our-work/lesser-black-backed-gull-larus-fuscus/" />
<add key="/default.aspx?page=2887" value="https://jncc.gov.uk/our-work/herring-gull-larus-argentatus/" />
<add key="/default.aspx?page=2888" value="https://jncc.gov.uk/our-work/great-black-backed-gull-larus-marinus/" />
<add key="/default.aspx?page=2889" value="https://jncc.gov.uk/our-work/black-legged-kittiwake-rissa-tridactyla/" />
<add key="/default.aspx?page=2890" value="https://jncc.gov.uk/our-work/sandwich-tern-sterna-sandvicensis/" />
<add key="/default.aspx?page=2891" value="https://jncc.gov.uk/our-work/roseate-tern-sterna-dougallii/" />
<add key="/default.aspx?page=2895" value="https://jncc.gov.uk/our-work/common-tern-sterna-hirundo/" />
<add key="/default.aspx?page=2896" value="https://jncc.gov.uk/our-work/arctic-tern-sterna-paradisaea/" />
<add key="/default.aspx?page=2897" value="https://jncc.gov.uk/our-work/little-tern-sternula-albifrons/" />
<add key="/default.aspx?page=2898" value="https://jncc.gov.uk/our-work/guillemot-uria-aalge/" />
<add key="/default.aspx?page=2899" value="https://jncc.gov.uk/our-work/black-guillemot-cepphus-grylle/" />
<add key="/default.aspx?page=2947" value="https://jncc.gov.uk/our-work/geological-conservation/" />
<add key="/default.aspx?page=2966" value="https://jncc.gov.uk/our-work/atlantic-puffin-fratercula-arctica/" />
<add key="/default.aspx?page=3032" value="https://jncc.gov.uk/about-jncc/corporate-information/managing-our-environmental-impact/" />
<add key="/default.aspx?page=3033" value="https://jncc.gov.uk/about-jncc/how-we-work/strategy-and-business-plan/" />
<add key="/default.aspx?page=3055" value="https://sac.jncc.gov.uk/" />
<add key="/default.aspx?page=3061" value="https://sac.jncc.gov.uk/site/england" />
<add key="/default.aspx?page=3062" value="https://sac.jncc.gov.uk/site/northern-ireland" />
<add key="/default.aspx?page=3063" value="https://sac.jncc.gov.uk/site/scotland" />
<add key="/default.aspx?page=3064" value="https://sac.jncc.gov.uk/site/wales" />
<add key="/default.aspx?page=3201" value="https://jncc.gov.uk/our-work/seabird-population-trends-and-causes-of-change-1986-2015-report-category/" />
<add key="/default.aspx?page=3252" value="https://jncc.gov.uk/about-jncc/careers/" />
<add key="/default.aspx?page=3356" value="https://jncc.gov.uk/our-work/uk-marine-biodiversity-monitoring-programme/" />
<add key="/default.aspx?page=3359" value="https://jncc.gov.uk/our-work/marine-monitoring-resources/" />
<add key="/default.aspx?page=3477" value="https://sac.jncc.gov.uk/site/offshore" />
<add key="/default.aspx?page=3507" value="https://sac.jncc.gov.uk/site/gibraltar" />
<add key="/default.aspx?page=4048" value="https://jncc.gov.uk/about-jncc/careers/guidance-and-forms/" />
<add key="/default.aspx?page=4076" value="https://jncc.gov.uk/about-jncc/careers/benefits-of-working-at-jncc/" />
<add key="/default.aspx?page=4161" value="https://jncc.gov.uk/our-work/memorandum-of-understanding-on-the-conservation-of-migratory-birds-of-prey-in-africa-and-eurasia/" />
<add key="/default.aspx?page=4229" value="https://jncc.gov.uk/our-work/uk-biodiversity-indicators-2018-category/" />
<add key="/default.aspx?page=4230" value="https://jncc.gov.uk/our-work/assessing-indicators/" />
<add key="/default.aspx?page=4231" value="https://jncc.gov.uk/our-work/ukbi-overview-of-trends/" />
<add key="/default.aspx?page=4235" value="https://jncc.gov.uk/our-work/ukbi2018-c5-birds-of-the-countryside/" />
<add key="/default.aspx?page=4236" value="https://jncc.gov.uk/our-work/ukbi2018-c6-insects-of-the-countryside/" />
<add key="/default.aspx?page=4238" value="https://jncc.gov.uk/our-work/ukbi2018-c4a-species-abundance/" />
<add key="/default.aspx?page=4239" value="https://jncc.gov.uk/our-work/ukbi2018-c3a-european-habitats/" />
<add key="/default.aspx?page=4240" value="https://jncc.gov.uk/our-work/ukbi2018-c9a-animal-genetic-resources/" />
<add key="/default.aspx?page=4241" value="https://jncc.gov.uk/our-work/ukbi2018-c1-protected-areas/" />
<add key="/default.aspx?page=4242" value="https://jncc.gov.uk/our-work/ukbi2018-b1a-agri-environment-schemes/" />
<add key="/default.aspx?page=4243" value="https://jncc.gov.uk/our-work/ukbi2018-b1b-sustainable-forestry/" />
<add key="/default.aspx?page=4244" value="https://jncc.gov.uk/our-work/ukbi2018-b2-sustainable-fisheries/" />
<add key="/default.aspx?page=4245" value="https://jncc.gov.uk/our-work/ukbi2018-b5a-air-pollution/" />
<add key="/default.aspx?page=4246" value="https://jncc.gov.uk/our-work/ukbi2018-b6-invasive-species/" />
<add key="/default.aspx?page=4247" value="https://jncc.gov.uk/our-work/ukbi2018-b4-spring-index/" />
<add key="/default.aspx?page=4248" value="https://jncc.gov.uk/our-work/ukbi2018-d1a-fish-size-classes/" />
<add key="/default.aspx?page=4250" value="https://jncc.gov.uk/our-work/ukbi2018-b7-surface-water-status/" />
<add key="/default.aspx?page=4251" value="https://jncc.gov.uk/our-work/ukbi2018-e2-biodiversity-expenditure/" />
<add key="/default.aspx?page=4253" value="https://jncc.gov.uk/our-work/ukbi2018-a2-conservation-volunteering/" />
<add key="/default.aspx?page=4271" value="https://jncc.gov.uk/our-work/ukbi2018-c8-mammals-of-the-countryside/" />
<add key="/default.aspx?page=4468" value="https://jncc.gov.uk/about-jncc/corporate-information/contact-points-and-enquiries/" />
<add key="/default.aspx?page=4480" value="https://sac.jncc.gov.uk/habitat/" />
<add key="/default.aspx?page=4481" value="https://sac.jncc.gov.uk/species/" />
<add key="/default.aspx?page=4543" value="https://jncc.gov.uk/our-work/offshore-seabed-survey/" />
<add key="/default.aspx?page=4544 " value="https://jncc.gov.uk/our-work/completed-seabed-surveys/" />
<add key="/default.aspx?page=4559" value="https://jncc.gov.uk/our-work/marine-special-protection-areas/" />
<add key="/default.aspx?page=4703" value="https://jncc.gov.uk/our-work/mammal-observer-training/" />
<add key="/default.aspx?page=5155" value="https://jncc.gov.uk/our-work/uk-bap/" />
<add key="/default.aspx?page=5201" value="https://jncc.gov.uk/our-work/marine-protected-area-mapper/" />
<add key="/default.aspx?page=5203" value="https://jncc.gov.uk/about-jncc/who-we-are/senior-leadership/" />
<add key="/default.aspx?page=5269" value="https://jncc.gov.uk/our-work/nature-conservation-mpas-ncmpas/" />
<add key="/default.aspx?page=5287" value="https://jncc.gov.uk/about-jncc/who-we-are/" />
<add key="/default.aspx?page=5289" value="https://jncc.gov.uk/about-jncc/how-we-work/strategy-and-business-plan/" />
<add key="/default.aspx?page=5290" value="https://jncc.gov.uk/about-jncc/our-performance/" />
<add key="/default.aspx?page=5291" value="https://jncc.gov.uk/about-jncc/how-we-work/who-we-work-with/" />
<add key="/default.aspx?page=5292" value="https://jncc.gov.uk/about-jncc/how-we-work/" />
<add key="/default.aspx?page=5295" value="https://jncc.gov.uk/about-jncc/corporate-information/privacy-statement/" />
<add key="/default.aspx?page=5301" value="https://jncc.gov.uk/about-jncc/corporate-information/procurement/" />
<add key="/default.aspx?page=5302" value="https://jncc.gov.uk/about-jncc/how-we-work/legal-basis-of-our-work/" />
<add key="/default.aspx?page=5305" value="https://jncc.gov.uk/about-jncc/who-we-are/history-of-jncc/" />
<add key="/default.aspx?page=5327" value="https://jncc.gov.uk/our-work/european-reporting/ " />
<add key="/default.aspx?page=5329" value="https://jncc.gov.uk/our-work/marine-assessment-category/" />
<add key="/default.aspx?page=5349" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/" />
<add key="/default.aspx?page=5350" value="https://jncc.gov.uk/about-jncc/who-we-are/our-company-board/" />
<add key="/default.aspx?page=5404" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/professor-ian-bateman-obe/" />
<add key="/default.aspx?page=5563" value="https://jncc.gov.uk/our-work/earth-observation/" />
<add key="/default.aspx?page=5626" value="https://jncc.gov.uk/our-work/marine-protected-area-mapper/" />
<add key="/default.aspx?page=5705" value="https://jncc.gov.uk/our-work/uk-bap/" />
<add key="/default.aspx?page=5779" value="https://jncc.gov.uk/about-jncc/corporate-information/jncc-official-statistics-list-and-release-dates/" />
<add key="/default.aspx?page=5868" value="https://jncc.gov.uk/about-jncc/corporate-information/cookie-policy/" />
<add key="/default.aspx?page=5869" value="https://jncc.gov.uk/our-work/intergovernmental-science-policy-platform-on-biodiversity-and-ecosystem-services-ipbes/" />
<add key="/default.aspx?page=5931" value="https://mhc.jncc.gov.uk/" />
<add key="/default.aspx?page=5976" value="https://jncc.gov.uk/our-work/the-inter-agency-air-pollution-group-iapg/" />
<add key="/default.aspx?page=6058" value="https://jncc.gov.uk/our-work/ukbi2018-d1b-greenhouse-gas-removal/" />
<add key="/default.aspx?page=6069" value="https://jncc.gov.uk/our-work/ukbi2018-a1-awareness/" />
<add key="/default.aspx?page=6072" value="https://jncc.gov.uk/our-work/ukbi2018-a5-biodiversity-and-business/" />
<add key="/default.aspx?page=6073" value="https://jncc.gov.uk/our-work/ukbi2018-e1-biodiversity-data/" />
<add key="/default.aspx?page=6077" value="https://jncc.gov.uk/about-jncc/corporate-information/access-to-information/" />
<add key="/default.aspx?page=6178" value="https://jncc.gov.uk/our-work/ukbi2018-a3-value-of-biodiversity/" />
<add key="/default.aspx?page=6179" value="https://jncc.gov.uk/our-work/ukbi2018-a4-global-biodiversity-impact/" />
<add key="/default.aspx?page=6183" value="https://jncc.gov.uk/our-work/ukbi2018-b5b-marine-pollution/" />
<add key="/default.aspx?page=6189" value="https://jncc.gov.uk/our-work/uk-post-2010-biodiversity-framework/" />
<add key="/default.aspx?page=6279" value="https://jncc.gov.uk/our-work/habitat-extent/" />
<add key="/default.aspx?page=6280" value="https://jncc.gov.uk/our-work/habitat-condition/" />
<add key="/default.aspx?page=6281" value="https://jncc.gov.uk/our-work/the-crick-framework/" />
<add key="/default.aspx?page=6282" value="https://jncc.gov.uk/our-work/analysis-ready-data-ard/" />
<add key="/default.aspx?page=6453" value="https://jncc.gov.uk/about-jncc/how-we-work/jncc-consultations/" />
<add key="/default.aspx?page=6489" value="https://jncc.gov.uk/our-work/barra-fan-and-hebrides-terrace-seamount-mpa/" />
<add key="/default.aspx?page=6515" value="https://jncc.gov.uk/our-work/marine-pressures-and-impacts/" />
<add key="/default.aspx?page=6516" value="https://jncc.gov.uk/our-work/marine-activities-and-pressures-mapping/" />
<add key="/default.aspx?page=6517" value="https://jncc.gov.uk/our-work/marine-sensitivity-assessments/" />
<add key="/default.aspx?page=6566" value="https://jncc.gov.uk/our-work/ukbi2018-c3b-european-species/" />
<add key="/default.aspx?page=6567" value="https://jncc.gov.uk/our-work/ukbi2018-b3-climate-change-adaptation/" />
<add key="/default.aspx?page=6573" value="https://jncc.gov.uk/our-work/ukbi2018-c9b-plant-genetic-resources/" />
<add key="/default.aspx?page=6576" value="https://jncc.gov.uk/our-work/uk-biodiversity-indicators-enquiries/" />
<add key="/default.aspx?page=6583" value="https://jncc.gov.uk/our-work/uk-post-2010-biodiversity-framework/" />
<add key="/default.aspx?page=6584" value="https://jncc.gov.uk/our-work/uk-post-2010-biodiversity-framework/" />
<add key="/default.aspx?page=6675" value="https://jncc.gov.uk/about-jncc/corporate-information/evidence-quality-assurance/" />
<add key="/default.aspx?page=6731" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/professor-chris-gilligan-cbe/" />
<add key="/default.aspx?page=6780" value="https://jncc.gov.uk/our-work/catalogue-of-case-law-relating-to-articles-of-the-eu-birds-and-habitats-directives/" />
<add key="/default.aspx?page=6850" value="https://jncc.gov.uk/our-work/ukbi2018-c4b-species-distribution/" />
<add key="/default.aspx?page=6851" value="https://jncc.gov.uk/our-work/ukbi2018-d1c-pollinating-insects/" />
<add key="/default.aspx?page=6886" value="https://jncc.gov.uk/our-work/ukbi2018-c7-plants-of-the-countryside/" />
<add key="/default.aspx?page=6891" value="https://jncc.gov.uk/our-work/ukbi2018-c2-habitat-connectivity/" />
<add key="/default.aspx?page=6915" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/professor-colin-galbraith/" />
<add key="/default.aspx?page=7017" value="https://jncc.gov.uk/about-jncc/how-we-work/jncc-consultations/offshore-spa-consultations/" />
<add key="/default.aspx?page=7049" value="https://jncc.gov.uk/our-work/mpa-monitoring/" />
<add key="/default.aspx?page=7105" value="https://jncc.gov.uk/our-work/uk-post-2010-biodiversity-framework/" />
<add key="/default.aspx?page=7121" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7123" value="https://jncc.gov.uk/our-work/data-collection-survey-methods-and-equipment/" />
<add key="/default.aspx?page=7125" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7126" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7127" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7128" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7129" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7130" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7131" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7132" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7136" value="https://jncc.gov.uk/our-work/marine-activities-and-pressures-evidence/" />
<add key="/default.aspx?page=7141" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/professor-howard-platt/" />
<add key="/default.aspx?page=7182" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7183" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7203" value="https://jncc.gov.uk/about-jncc/our-performance/annual-review/" />
<add key="/default.aspx?page=7206" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7273" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7302" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7303" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7304" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7307" value="https://jncc.gov.uk/our-work/special-protection-areas-overview/" />
<add key="/default.aspx?page=7331" value="https://jncc.gov.uk/our-work/species-indicator-review-overview/" />
<add key="/default.aspx?page=7418" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/dr-hilary-kirkpatrick/" />
<add key="/default.aspx?page=7443" value="https://jncc.gov.uk/our-work/natural-capital-in-the-overseas-territories/" />
<add key="/default.aspx?page=7448" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/dr-mike-cantlay-obe/" />
<add key="/default.aspx?page=7515" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/professor-marian-scott/" />
<add key="/default.aspx?page=7516" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/charles-banner-qc/" />
<add key="/default.aspx?page=7517" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/professor-melanie-austen/" />
<add key="/default.aspx?page=7556" value="https://jncc.gov.uk/our-work/eu-life/" />
<add key="/default.aspx?page=7582" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/cath-denholm/" />
<add key="/default.aspx?page=7598" value="https://jncc.gov.uk/our-work/mpa-adaptive-management-overview/" />
<add key="/default.aspx?page=7619" value="https://jncc.gov.uk/our-work/uk-marine-protected-area-network-statistics/" />
<add key="/default.aspx?page=7666" value="https://jncc.gov.uk/news/impact-of-climate-change-on-coral-gardens/" />
<add key="/default.aspx?page=7672" value="https://jncc.gov.uk/about-jncc/careers/working-for-jncc/" />
<add key="/default.aspx?page=7685" value="https://jncc.gov.uk/news/latest-bird-indicators-now-published/" />
<add key="/default.aspx?page=7686" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/lord-blencathra/" />
<add key="/default.aspx?page=7688" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/professor-michael-winter/" />
<add key="/default.aspx?page=7692" value="https://jncc.gov.uk/about-jncc/who-we-are/joint-committee/professor-steve-ormerod/" />
<add key="/default.aspx?page=7699" value="https://jncc.gov.uk/news/people-need-birds-and-birds-need-people-to-do-the-right-things-david-stroud-made-honorary-patron-of-awea/" />
<add key="/default.aspx?page=7701" value="https://jncc.gov.uk/news/mpa-network-2018-report-to-scottish-parliament/" />
<add key="/default.aspx?page=7708" value="https://jncc.gov.uk/news/angolas-afromontane-forests/" />
<add key="/default.aspx?page=7712" value="https://jncc.gov.uk/news/a-landmark-in-collaborative-work-on-mpas-with-chile/" />
<add key="/default.aspx?page=7731" value="https://jncc.gov.uk/our-work/united-kingdom-s-6th-national-report-to-the-convention-on-biological-diversity/" />
<add key="/default.aspx?page=7737" value="https://jncc.gov.uk/our-work/mpa-adaptive-management-ouputs/" />
<add key="/default.aspx?page=7739" value="https://jncc.gov.uk/news/latest-butterfly-official-statistics/" />
<add key="/default.aspx?page=7740" value="https://jncc.gov.uk/news/2018-breeding-bird-survey/" />
<add key="/default.aspx?page=7742" value="https://jncc.gov.uk/news/national-bat-monitoring-programme-annual-report-2018/" />
<add key="/default.aspx?page=7743" value="https://jncc.gov.uk/news/the-37th-annual-report-of-the-wetland-birds-survey/" />
<add key="/default.aspx?page=7744" value="https://jncc.gov.uk/news/uk-marine-strategy-part-1-defra-launches-consultation/" />
<add key="/default.aspx?page=7745" value="https://jncc.gov.uk/news/tranche-3-mcz-designation-announcement/" />
<add key="/default.aspx?page=7746" value="https://hub.jncc.gov.uk/assets/6b1576f1-2b10-45ed-9d91-e2ff4f8d7f9c" />
<add key="/default.aspx?page=7748" value="https://hub.jncc.gov.uk/assets/c3206dce-0eae-4cc2-b5d8-e328fe1f1ebd" />
<add key="/default.aspx?page=7754" value="https://jncc.gov.uk/news/all-eyes-on-a-new-worm-species/" />
<add key="/default.aspx?page=7756" value="https://jncc.gov.uk/news/boost-for-uk-seabird-census/" />
<add key="/default.aspx?page=7757" value="https://hub.jncc.gov.uk/assets/3b1a059f-5c48-493b-8002-ff2f68276b15" />
<add key="/default.aspx?page=7758" value="https://jncc.gov.uk/about-jncc/corporate-information/procurement/nitrogen-futures/" />
<add key="/DVT" value="http://esdm.co.uk/DVTUpdate" />
<add key="/FILESHARE" value="https://jncc.iweb-storage.com/login" />
<add key="/jobs" value="https://jncc.gov.uk/about-jncc/careers/" />
<add key="/marine/biotopes/BiotopeSearch.aspx" value="https://mhc.jncc.gov.uk/search/" />
<add key="/marine/biotopes/hierarchy.aspx" value="https://mhc.jncc.gov.uk/" />
<add key="/marine/biotopes/hierarchy.aspx?level=1" value="https://mhc.jncc.gov.uk/" />
<add key="/marine/biotopes/hierarchy.aspx?level=2" value="https://mhc.jncc.gov.uk/" />
<add key="/marine/biotopes/hierarchy.aspx?level=3" value="https://mhc.jncc.gov.uk/" />
<add key="/marine/biotopes/hierarchy.aspx?level=4" value="https://mhc.jncc.gov.uk/" />
<add key="/marine/biotopes/hierarchy.aspx?level=5" value="https://mhc.jncc.gov.uk/" />
<add key="/MarineHabitatClassification/" value="https://mhc.jncc.gov.uk/" />
<add key="/marinerecorder/default.asp?Product=Snapshot" value="http://www.esdm.co.uk/MarineRecorder/index.html?Product=Snapshot" />
<add key="/opendata" value="https://jncc.gov.uk/about-jncc/corporate-information/open-data/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=1" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=10" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=11" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=12" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=13" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=14" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=2" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=3" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=4" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=5" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=6" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=7" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=8" value="https://sac.jncc.gov.uk/" />
<add key="/protectedsites/sacselection/Areamap.asp?area=9" value="https://sac.jncc.gov.uk/" />
<add key="/ProtectedSites/SACselection/gis_data/terms_conditions.asp" value="http://archive.jncc.gov.uk/ProtectedSites/SACselection/gis_data/terms_conditions.asp" />
<add key="/ProtectedSites/SACselection/habitat.asp?FeatureIntCode=H1110" value="https://sac.jncc.gov.uk/habitat/H1110/" />
<add key="/protectedsites/sacselection/habitat.asp?FeatureIntCode=H1130" value="https://sac.jncc.gov.uk/habitat/H1130/" />
<add key="/ProtectedSites/SACselection/habitat.asp?FeatureIntCode=H1150" value="https://sac.jncc.gov.uk/habitat/H1150/" />
<add key="/protectedsites/sacselection/habitat.asp?FeatureIntCode=H6210" value="https://sac.jncc.gov.uk/habitat/H6210/" />
<add key="/protectedsites/sacselection/habitat.asp?FeatureIntCode=H7130" value="https://sac.jncc.gov.uk/habitat/H7130/" />
<add key="/ProtectedSites/SACselection/sac.asp?EUCode=UK0012599" value="https://sac.jncc.gov.uk/site/UK0012599" />
<add key="/ProtectedSites/SACselection/sac.asp?EUCode=UK0014793" value="https://sac.jncc.gov.uk/site/UK0014793" />
<add key="/protectedsites/sacselection/sac.asp?EUCode=UKGIB0001" value="https://sac.jncc.gov.uk/site/gibraltar" />
<add key="/ProtectedSites/SACselection/SAC_habitats.asp" value="https://sac.jncc.gov.uk/habitat/" />
<add key="/ProtectedSites/SACselection/SAC_list.asp" value="https://sac.jncc.gov.uk/site/" />
<add key="/protectedsites/sacselection/SAC_list.asp?Country=E" value="https://sac.jncc.gov.uk/site/england" />
<add key="/protectedsites/SACselection/SAC_list.asp?Country=NI" value="https://sac.jncc.gov.uk/site/northern-ireland" />
<add key="/protectedsites/SACselection/SAC_list.asp?Country=OF" value="https://sac.jncc.gov.uk/site/offshore" />
<add key="/protectedsites/sacselection/SAC_list.asp?Country=S" value="https://sac.jncc.gov.uk/site/scotland" />
<add key="/protectedsites/sacselection/SAC_list.asp?Country=W" value="https://sac.jncc.gov.uk/site/wales" />
<add key="/protectedsites/SACselection/SAC_searchpage.asp" value="https://sac.jncc.gov.uk/" />
<add key="/ProtectedSites/SACselection/SAC_species.asp" value="https://sac.jncc.gov.uk/species/" />
<add key="/ProtectedSites/SACselection/species.asp?FeatureIntCode=S1029" value="https://sac.jncc.gov.uk/species/S1029/" />
<add key="/ProtectedSites/SACselection/species.asp?FeatureIntCode=S1092" value="https://sac.jncc.gov.uk/species/S1092/" />
<add key="/ProtectedSites/SACselection/species.asp?FeatureIntCode=S1166" value="https://sac.jncc.gov.uk/species/S1166/" />
<add key="/ProtectedSites/SACselection/species.asp?FeatureIntCode=S1351" value="https://sac.jncc.gov.uk/species/S1351/" />
<add key="/ProtectedSites/SACselection/species.asp?FeatureIntCode=S1355" value="https://sac.jncc.gov.uk/species/S1355/" />
<add key="/Publications/JNCC312/UK_habitat_list.asp" value="https://sac.jncc.gov.uk/habitat/" />
<add key="/Publications/JNCC312/UK_species_list.asp" value="https://sac.jncc.gov.uk/species/" />
<add key="/RECORDCLEANER" value="https://data.nbn.org.uk/recordcleaner/application/NBNRecordCleaner.exe" />
<add key="/REMOTE" value="https://remote.jncc.gov.uk" />
<add key="/SEABIRDS2010" value="http://tna.europarchive.org/20101013122905/http://www.jncc.gov.uk/page-3201" />
<add key="/SEABIRDS2011" value="http://tna.europarchive.org/20111108151313/http://jncc.defra.gov.uk/page-3201" />
<add key="/ukbap" value="https://jncc.gov.uk/our-work/uk-bap/" />
<add key="/WEBMAIL" value="https://outlook.office365.com/owa" />

    </rewriteMap>
</rewriteMaps>
