<rules>
    <!--
    IIS rewrite module rewrite - lessons learned :-)
    ================================================
    - The so-called "url" in `<match url="some-regex" />` is actually only the URI *path*
      (for example, `hello/world.txt` in `https://example.com/hello/world.txt?q=1`).
    - To match the host or the query, use the {HTTP_HOST} and {QUERY_STRING} variables
      in an additional `<condition />`.
    - The so-called {REQUEST_URI} variable gives you the path and query with a leading
      slash, e.g. `/hello/world.txt?q=1`.
    - When you're doing a regex match you almost always want to match
      explicitly on the start and end of line with `^` and `$`.
    - We use a "rewrite map" to store a long map of strings which can be used
      within a rule. This performs a string identity comparison between the string passed
      in and the keys in the map - *not* a regex match.
    - You're given the regex capture groups in variables `{R:n}` and `{C:n}`, where
      `R` means the captures groups from the rule `<match />`,
      `C` means the capture groups from the `<condition />` and
      `n` is the standard regex capture group index number.
    - The rewrite rules and the maps become nodes with the Web.config of the application.
      So, it's incredibly easy to make an error which causes the site to entirely
      break. You'll get a white screen of death and, if you're lucky, an HTTP response
      of `HTTP 500.50 URL Rewrite Module Error`.
        - Ensure you commit valid XML (to the rules and the maps, in particular make sure
          to escape XML character entities like `&` -> `&amp;`)
    - There is no current feasible way to unit test or test the rules locally.
        - You can deploy to a test environment and alter your hosts file to point the
          incoming domain names at the test server
    - There's no use for `stopProcessing="true"` for redirects (think about it).
    - Some of the rules are disabled in certain environments by the deployment process.
    -->
	<rule name="(1) Redirect old home page to new site">
        <match url=".*" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
            <add input="{REQUEST_URI}" pattern="^\/$" />
        </conditions>
        <action type="Redirect" url="https://jncc.gov.uk/" redirectType="Permanent" appendQueryString="false" />
    </rule>
    <rule name="(2) Redirect old MHC biotopes">
        <match url="^marine\/biotopes\/(biotope|biotope_image)\.aspx" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
            <add input="{QUERY_STRING}" pattern="^biotope=([A-Z0-9]*)" />
        </conditions>
        <action type="Redirect" url="https://mhc.jncc.gov.uk/biotopes/{C:1}" appendQueryString="false" redirectType="Permanent" />
    </rule>
    <rule name="(3a) Redirect old SAC habitats">
        <match url="^protectedsites\/SACselection\/feature_map\.asp" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
            <add input="{QUERY_STRING}" pattern="^FeatureIntCode=([A-Z0-9]*)" />
        </conditions>
        <action type="Redirect" url="https://sac.jncc.gov.uk/habitat/{C:1}/map" appendQueryString="false" redirectType="Permanent" />
    </rule>
    <rule name="(3b) Redirect old SAC sites">
        <match url="^protectedsites\/SACselection\/sac\.asp" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
            <add input="{QUERY_STRING}" pattern="^EUcode=([A-Z0-9]*)" />
        </conditions>
        <action type="Redirect" url="https://sac.jncc.gov.uk/site/{C:1}" appendQueryString="false" redirectType="Permanent" />
    </rule>
    <rule name="(3c) Redirect old SAC species">
        <match url="^protectedsites\/SACselection\/species\.asp" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
            <add input="{QUERY_STRING}" pattern="^FeatureIntCode=([A-Z0-9]*)" />
        </conditions>
        <action type="Redirect" url="https://sac.jncc.gov.uk/species/{C:1}" appendQueryString="false" redirectType="Permanent" />
    </rule>
     <rule name="(3d) Redirect old SAC distibution">
        <match url="^publications\/jncc312\/(habitat|species)\.asp" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
            <add input="{QUERY_STRING}" pattern="^FeatureIntCode=([A-Z0-9]*)" />
        </conditions>
        <action type="Redirect" url="https://sac.jncc.gov.uk/{R:1}/{C:1}/distribution" appendQueryString="false" redirectType="Permanent" />
    </rule>
     <rule name="(3e) Redirect old SAC comparison">
        <match url="^publications\/jncc312\/(habitat|species)_comparison\.asp" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
            <add input="{QUERY_STRING}" pattern="^FeatureIntCode=([A-Z0-9]*)" />
        </conditions>
        <action type="Redirect" url="https://sac.jncc.gov.uk/{R:1}/{C:1}/comparison" appendQueryString="false" redirectType="Permanent" />
    </rule>
    <rule name="(4) ReWRITE old Alterian page URLs to the `default.aspx?page=1234` form">
        <match url="^page-(\d*)" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
        </conditions>
        <action type="Rewrite" url="default.aspx?page={R:1}" appendQueryString="false" />
    </rule>
    <rule name="(5) Redirect old specific requests in list to new site(s)">
        <match url=".*" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
            <add input="{JnccDefraGovSiteRedirectsList:{REQUEST_URI}}" pattern="(.+)" />
        </conditions>
        <action type="Redirect" url="{C:1}" redirectType="Permanent" appendQueryString="false" />
    </rule>
    <rule name="(6) Redirect any other old requests to archive.jncc.gov.uk">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc\.defra\.gov\.uk$|^www\.jncc\.gov\.uk$" />
        </conditions>
        <action type="Redirect" url="http://archive.jncc.gov.uk/{R:1}" redirectType="Found" />
    </rule>
    <rule name="(7) Redirect to canonical jncc.gov.uk domain" enabled="#{CANONICAL_HOST_REDIRECT_ENABLED}">
        <match url="(.*)" />
        <conditions>
            <!-- skip if already canonical -->
            <add input="{HTTP_HOST}" pattern="^jncc.gov.uk$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://jncc.gov.uk/{R:1}" redirectType="Permanent" />
    </rule>
    <rule name="(8) Enforce HTTPS" enabled="#{FORCE_HTTPS_REDIRECT_ENABLED}">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
    </rule>
</rules>
