<rules>
    <rule name="Redirect to HTTPS" stopProcessing="true" enabled="#{HTTPSREDIRECT_ENABLED}">
        <match url="(.*)" />
        <conditions>
        <add input="{HTTPS}" pattern="^OFF$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
    </rule>
    <rule name="Test redirect rule" stopProcessing="true">
        <match url="hello" />
        <action type="Redirect" url="cheerio" redirectType="SeeOther" />
    </rule>
    <!-- Comment is here -->
</rules>
