<rules>
	<rule name="(1) Redirect jncc.defra.gov.uk home page to new site">
        <match url=".*" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc.defra.gov.uk$" />
            <add input="{REQUEST_URI}" pattern="^\/$" />
        </conditions>
        <action type="Redirect" url="https://jncc.gov.uk/" redirectType="Found" appendQueryString="false" />
    </rule>
    <rule name="(2a) Redirect jncc.defra.gov.uk MHC biotopes">
        <match url="^marine\/biotopes\/(biotope|biotope_image)\.aspx" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc.defra.gov.uk$" />
            <add input="{QUERY_STRING}" pattern="^biotope=([A-Z0-9]*)" />
        </conditions>
        <action type="Redirect" url="https://mhc.jncc.gov.uk/biotopes/{C:1}" appendQueryString="false" redirectType="Found" />
    </rule>
    <rule name="(2b) Redirect jncc.defra.gov.uk SAC habitats">
        <match url="^protectedsites\//SACselection\/feature_map\.asp" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc.defra.gov.uk$" />
            <add input="{QUERY_STRING}" pattern="^FeatureIntCode=([A-Z0-9]*)" />
        </conditions>
        <action type="Redirect" url="https://sac.jncc.gov.uk/habitat/{C:1}/map" appendQueryString="false" redirectType="Found" />
    </rule>
    <rule name="(3) Redirect jncc.defra.gov.uk specific requests in list to new site(s)">
        <match url=".*" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc.defra.gov.uk$" />
            <add input="{JnccDefraGovSiteRedirectsList:{REQUEST_URI}}" pattern="(.+)" />
        </conditions>
        <action type="Redirect" url="{C:1}" redirectType="Found" appendQueryString="false" />
    </rule>
    <rule name="(4) Redirect any other jncc.defra.gov.uk requests to archive.jncc.gov.uk">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^jncc.defra.gov.uk$" />
        </conditions>
        <action type="Redirect" url="http://archive.jncc.gov.uk/{R:1}" redirectType="Found" />
    </rule>
    <rule name="(5) Redirect to canonical jncc.gov.uk domain" enabled="#{CANONICAL_HOST_REDIRECT_ENABLED}">
        <match url="(.*)" />
        <conditions>
            <!-- skip if already canonical -->
            <add input="{HTTP_HOST}" pattern="^jncc.gov.uk$" negate="true" />
            <add input="{HTTP_HOST}" pattern="^pre-live.jncc.gov.uk$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://jncc.gov.uk/{R:1}" redirectType="Found" />
    </rule>
    <rule name="(6) Enforce HTTPS" enabled="#{FORCE_HTTPS_REDIRECT_ENABLED}">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="^pre-live.jncc.gov.uk$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
    </rule>
</rules>
