<rewriteMaps>
    <rewriteMap name="JnccDefraGovSiteRedirectsList" defaultValue="">
        <add key="/hello" value="/cheerio" />
        <add key="/page-5287" value="https://jncc.gov.uk/about-jncc/who-we-are/" />
        <add key="/sac" value="https://sac.jncc.gov.uk/" />
    </rewriteMap>
</rewriteMaps>



