<rewriteMaps>
    <rewriteMap name="JnccDefraGovSiteRedirectsList" defaultValue="">
        <!-- do not accidentally remove the first "/" mapping! -->



<add key="/" value="https://jncc.gov.uk/" />
<add key="/smp/" value="https://archive.jncc.gov.uk/smp/" />
<add key="/2012-13/PQ0845" value="http://jncc.defra.gov.uk/pdf/pq0845-2012-13.pdf" />
<add key="/opendata" value="http://jncc.defra.gov.uk/default.aspx?page=7185" />
<add key="/PDF/MPAsInfoDoc_v2_1.pdf" value="http://jncc.defra.gov.uk/default.aspx?page=4631" />
<add key="/PDF/MPAsInfoDoc_v2_0.pdf" value="http://jncc.defra.gov.uk/default.aspx?page=4631" />
<add key="/PDF/MPAsInfoDoc_v1_1.pdf" value="http://jncc.defra.gov.uk/default.aspx?page=4631" />
<add key="/PDF/MPAsInfoDoc_v1.pdf" value="http://jncc.defra.gov.uk/default.aspx?page=4631" />
<add key="/PDF/MCZProjectInfoDoc_v2_1.pdf" value="http://jncc.defra.gov.uk/default.aspx?page=4255" />
<add key="/PDF/MCZProjectInfoDoc_v2_0.pdf" value="http://jncc.defra.gov.uk/default.aspx?page=4255" />
<add key="/PDF/MCZProjectInfoDoc_v1_2.pdf" value="http://jncc.defra.gov.uk/default.aspx?page=4255" />
<add key="/PDF/MCZProjectInfoDoc_v1_1.pdf" value="http://jncc.defra.gov.uk/default.aspx?page=4255" />
<add key="/PDF/MCZProjectInfoDoc_v1.pdf" value="http://jncc.defra.gov.uk/default.aspx?page=4255" />
<add key="/ANNUALREPORT/$" value="http://jncc.defra.gov.uk/default.aspx?page=4916" />
<add key="/AI" value="http://jncc.defra.gov.uk/default.aspx?page=3688" />
<add key="/ARTICLE17" value="http://jncc.defra.gov.uk/default.aspx?page=6387" />
<add key="/ARTICLE17DOWNLOADS" value="http://jncc.defra.gov.uk/default.aspx?page=6390" />
<add key="/BAROMETER" value="http://jncc.defra.gov.uk/default.aspx?page=3712" />
<add key="/BIF-MEETING-REGISTRATION" value="http://jncc.defra.gov.uk/default.aspx?page=5720" />
<add key="/BIOSCRIBE" value="http://jncc.defra.gov.uk/default.aspx?page=5776" />
<add key="/BIOTOPE" value="http://jncc.defra.gov.uk/default.aspx?page=1584" />
<add key="/BIOTOPES" value="http://jncc.defra.gov.uk/default.aspx?page=1584" />
<add key="/BIYP" value="http://jncc.defra.gov.uk/default.aspx?page=4229" />
<add key="/BIYP2008" value="http://tna.europarchive.org/20090205015607/http://www.jncc.gov.uk/page-4229-theme=default" />
<add key="/BIYP2009" value="http://tna.europarchive.org/20100407144416/http://www.jncc.gov.uk/page-4229-theme=default" />
<add key="/BIYP2007" value="http://tna.europarchive.org/20080102105757/http://www.jncc.gov.uk/page-3921-theme=default" />
<add key="/BIYP2010" value="http://tna.europarchive.org/20110303230516/http://www.jncc.gov.uk/page-4229-theme=default" />
<add key="/BIYP2011" value="http://tna.europarchive.org/20120104172438/jncc.defra.gov.uk/page-4229-theme=default" />
<add key="/BIYP2013" value="http://collections.europarchive.org/tna/20140727184326/http://jncc.defra.gov.uk/page-4229-theme=default" />
<add key="/BIYP2014" value="http://jncc.defra.gov.uk/default.aspx?page=4229" />
<add key="/S2-10km" value="http://jncc.defra.gov.uk/default.aspx?page=7360" />
<add key="/S2-100km" value="http://jncc.defra.gov.uk/default.aspx?page=7361" />
<add key="/UKBI" value="http://jncc.defra.gov.uk/default.aspx?page=4229" />
<add key="/CHALARA" value="http://jncc.defra.gov.uk/default.aspx?page=6322" />
<add key="/COOKIES" value="http://jncc.defra.gov.uk/default.aspx?page=5868" />
<add key="/CSG" value="http://jncc.defra.gov.uk/default.aspx?page=3706" />
<add key="/CSM" value="http://jncc.defra.gov.uk/default.aspx?page=2217" />
<add key="/darwinplus" value="http://jncc.defra.gov.uk/default.aspx?page=7614" />
<add key="/DOWNLOAD/MARINERECORDERDATA" value="http://jncc.defra.gov.uk/files/MarineRecorderPublicSnapshot.zip" />
<add key="/DVT" value="http://esdm.co.uk/DVTUpdate" />
<add key="/EARTHHERITAGE/$" value="http://jncc.defra.gov.uk/default.aspx?page=1" />
<add key="/EARTHHERITAGE/gcrdb/GCR.asp?GCR=(.*)" value="http://jncc.defra.gov.uk/default.aspx?page=4174&amp;gcr=$1" />
<add key="/EUSEAMAP" value="http://jncc.defra.gov.uk/default.aspx?page=5020" />
<add key="/FCS" value="http://jncc.defra.gov.uk/default.aspx?page=4096" />
<add key="/FILESHARE" value="https://jncc.iweb-storage.com/login" />
<add key="/FEEDBACK" value="http://jncc.defra.gov.uk/default.aspx?page=3501" />
<add key="/FEEDBACKRESULTS" value="http://jncc.defra.gov.uk/default.aspx?page=3502" />
<add key="/FISHERIES" value="http://jncc.defra.gov.uk/default.aspx?page=1531" />
<add key="/IACCF" value="http://jncc.defra.gov.uk/default.aspx?page=5143" />
<add key="/IF3" value="http://jncc.defra.gov.uk/default.aspx?page=1821" />
<add key="/INDICATORS" value="http://jncc.defra.gov.uk/default.aspx?page=1824" />
<add key="/IPBES" value="http://jncc.defra.gov.uk/default.aspx?page=5871" />
<add key="/IRISHSEAPILOT" value="http://jncc.defra.gov.uk/default.aspx?page=1541" />
<add key="/JNCC-CONTRACTS-OVER-25K" value="http://jncc.defra.gov.uk/default.aspx?page=5544" />
<add key="/JOBS" value="https://jncc.gov.uk/about-jncc/careers/" />
<add key="/UKLIFE" value="http://jncc.defra.gov.uk/default.aspx?page=7121" />
<add key="/MARINE" value="http://jncc.defra.gov.uk/default.aspx?page=3" />
<add key="/MARINE/SEISMIC_SURVEY" value="http://jncc.defra.gov.uk/default.aspx?page=1534" />
<add key="/MARINE/SEABIRDS" value="http://jncc.defra.gov.uk/default.aspx?page=1530" />
<add key="/MARINE/SEABIRDS/SEABIRD2000" value="http://jncc.defra.gov.uk/default.aspx?page=1548" />
<add key="/MARINECONSULT" value="http://jncc.defra.gov.uk/default.aspx?page=3995" />
<add key="/MARINEHABITATCLASSIFICATION" value="http://jncc.defra.gov.uk/default.aspx?page=1584" />
<add key="/MARINEHABITATCORRELATION" value="http://jncc.defra.gov.uk/default.aspx?page=6767" />
<add key="/MCZmap" value="http://jncc.defra.gov.uk/page-5201&amp;LAYERS=UKCS" />
<add key="/MMH" value="http://jncc.defra.gov.uk/default.aspx?page=2430" />
<add key="/MARINEMONITORINGHANDBOOK" value="http://jncc.defra.gov.uk/default.aspx?page=2430" />
<add key="/MARINEPROTECTEDAREAS" value="http://jncc.defra.gov.uk/default.aspx?page=4524" />
<add key="/MARINEPROTECTEDSITES" value="http://jncc.defra.gov.uk/default.aspx?page=4524" />
<add key="/marinerecorder/default.asp\?Product=Snapshot" value="http://www.esdm.co.uk/MarineRecorder/index.html?Product=Snapshot" />
<add key="/MARINERECORDER" value="http://jncc.defra.gov.uk/page-1599" />
<add key="/MEA-EVENT" value="http://jncc.defra.gov.uk/default.aspx?page=4663" />
<add key="/MEA-EVENT-REGISTRATION" value="http://jncc.defra.gov.uk/default.aspx?page=4670" />
<add key="/MERMAID" value="http://jncc.defra.gov.uk/default.aspx?page=1598" />
<add key="/MESH" value="http://jncc.defra.gov.uk/default.aspx?page=1542" />
<add key="/mpas" value="http://jncc.defra.gov.uk/default.aspx?page=4524" />
<add key="/NATURENEWS" value="http://jncc.defra.gov.uk/default.aspx?page=2131" />
<add key="/NATURALSOLUTIONS" value="http://jncc.defra.gov.uk/default.aspx?page=5187" />
<add key="/offshorempas" value="http://jncc.defra.gov.uk/default.aspx?page=6895" />
<add key="/offshoreconference" value="http://jncc.defra.gov.uk/default.aspx?page=7499" />
<add key="/osparhabitatmapping" value="http://jncc.defra.gov.uk/default.aspx?page=1583" />
<add key="/OTFUNDINGDATABASE" value="http://jncc.defra.gov.uk/default.aspx?page=4582" />
<add key="/PRIVACYPOLICY" value="http://jncc.defra.gov.uk/default.aspx?page=5295" />
<add key="/PROTECTEDSITES" value="http://jncc.defra.gov.uk/default.aspx?page=4" />
<add key="/PROTECTEDSITES/SACSELECTION" value="http://jncc.defra.gov.uk/default.aspx?page=1457" />
<add key="/PUBLICATIONS/CETACEANATLAS" value="http://jncc.defra.gov.uk/default.aspx?page=2713" />
<add key="/PUBLICATIONS" value="http://jncc.defra.gov.uk/default.aspx?page=1482" />
<add key="/RECORDER" value="http://jncc.defra.gov.uk/default.aspx?page=4592" />
<add key="/RECORDER/SOFTWARE" value="http://jncc.defra.gov.uk/default.aspx?page=4592" />
<add key="/RECORDCLEANER" value="https://data.nbn.org.uk/recordcleaner/application/NBNRecordCleaner.exe" />
<add key="/REDSQUIRRELS" value="http://jncc.defra.gov.uk/default.aspx?page=3211" />
<add key="/REMOTE" value="https://remote.jncc.gov.uk" />
<add key="/SACSELECTION" value="http://jncc.defra.gov.uk/default.aspx?page=1457" />
<add key="/SCOTTISHMPAS" value="http://jncc.defra.gov.uk/default.aspx?page=5269" />
<add key="/scottish-mpa-consultation" value="http://jncc.defra.gov.uk/default.aspx?page=6437" />
<add key="/scottish-mpa-consultation/translations" value="http://jncc.defra.gov.uk/default.aspx?page=6519" />
<add key="/SAFETY" value="https://www.surveymonkey.com/sr.aspx?sm=WnF2E3gZO8Tx_2bdohp1dnXa8F5yOPMLJKKVucPykHd0k_3d" />
<add key="/StaySafe" value="http://jncc.defra.gov.uk/default.aspx?page=7570" />
<add key="/seabedhabitatmapping" value="http://jncc.defra.gov.uk/default.aspx?page=1586" />
<add key="/seabedhabitatmapdata" value="http://jncc.defra.gov.uk/default.aspx?page=6639" />
<add key="/SEABIRD2000" value="http://jncc.defra.gov.uk/default.aspx?page=1548" />
<add key="/SEABIRDS" value="http://jncc.defra.gov.uk/default.aspx?page=1530" />
<add key="/SEABIRDSCOUNT" value="http://jncc.defra.gov.uk/default.aspx?page=7413" />
<add key="/SEABIRDS2010" value="http://tna.europarchive.org/20101013122905/http://www.jncc.gov.uk/page-3201" />
<add key="/SEABIRDS2011" value="http://tna.europarchive.org/20111108151313/http://jncc.defra.gov.uk/page-3201" />
<add key="/SENTINEL-ARD" value="http://jncc.defra.gov.uk/default.aspx?page=7330" />
<add key="/SHAREPOINT" value="https://jncc.sharepoint.com/sites/extranet/SitePages/Home.aspx" />
<add key="/SUBSCRIBE-NATURENEWS" value="http://eepurl.com/PjXT" />
<add key="/SeasonsGreetings" value="http://jncc.defra.gov.uk/default.aspx?page=7509" />
<add key="/SUPPORT" value="http://jncc.defra.gov.uk/_private/TeamViewer.exe" />
<add key="/SURVEILLANCE" value="http://jncc.defra.gov.uk/default.aspx?page=3713" />
<add key="/T2T" value="http://jncc.defra.gov.uk/default.aspx?page=7338" />
<add key="/TRACKINGMAMMALS" value="http://jncc.defra.gov.uk/default.aspx?page=1757" />
<add key="/UKBAP" value="http://jncc.defra.gov.uk/default.aspx?page=5155" />

    </rewriteMap>
</rewriteMaps>
