<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <machineKey xdt:Transform="Remove"/>
  </system.web>
  <appSettings>
    <add key="Umbraco.ModelsBuilder.Enable" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Umbraco.ModelsBuilder.ModelsMode" value="Nothing" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Umbraco.ModelsBuilder.ModelsNamespace" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="Umbraco.ModelsBuilder.ModelsDirectory" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="Umbraco.ModelsBuilder.AcceptUnsafeModelsDirectory" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="hideProperties:ShowExportButton" xdt:Transform="Remove" xdt:Locator="Match(key)"  />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <remove name="umbracoDbDSN" />
    <add name="umbracoDbDSN" connectionString="" providerName="System.Data.SqlClient" />
    <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="#{SMTP_FROM}" xdt:Transform="Replace">
        <network host="#{SMTP_HOST}" />
      </smtp>
    </mailSettings>
  </system.net>

  <resetPasswordConfig xdt:Transform="Replace"
                       FromEmailAddress="#{SMTP_FROM}"
                       InitialRequestEmailTemplatePath="ResetPassword/InitialRequest.html"
                       CompletedRequestEmailTemplatePath="ResetPassword/CompletedRequest.html"
                       RequestExpirationInMinutes="180" />
  
  <searchConfig xdt:Transform="Replace"
                     AWSESAccessKey="#{SEARCH_AWSESACCESSKEY}"
                     AWSESSecretKey="#{SEARCH_AWSESSECRETKEY}"
                     AWSESRegion="#{SEARCH_AWSESREGION}"
                     AWSESEndpoint="#{SEARCH_AWSESENDPOINT}"
                     AWSESIndex="#{SEARCH_AWSESINDEX}"
                />
</configuration>