@model HomePageViewModel
@if (Model.Carousel != null)
{
    <div class="visual-section">
        <div class="container">
            <div class="row">
                <div class="columns medium-8">
                    <h1>@Model.Carousel.Headline</h1>
                    @if (Model.Carousel.Text != null && string.IsNullOrWhiteSpace(Model.Carousel.Text.ToHtmlString()) == false)
                    {
                        <div class="text-block">
                            @Model.Carousel.Text
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="main-slider">
            @foreach (var image in Model.Carousel.Images)
            {
                <div class="slide">
                    <div class="slider-image" style="background-image: url(@image.Url);"></div>

                    @if (!image.TitleText.IsNullOrWhiteSpace())
                    {
                        <div class="carousel-copyright-statement">
                            <div class="text">
                                @image.TitleText
                            </div>
                        </div>
                    }

                </div>
            }
        </div>
    </div>
}