@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CustomErrorPage>
@using ContentModels = JNCC.PublicWebsite.Core.Models;
@{
    Layout = "Master.cshtml";
    Response.StatusCode = 404;
}
<main id="main">
    @(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
    <div class="container no-breadcrumbs">
        <div class="two-columns">
            <div id="content">
                @(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
                @Model.Content.MainContent
            </div>
        </div>
    </div>
</main>