@model HomePageViewModel
@{
    Layout = "Master.cshtml";
}
<main id="main" class="home-a">
    @Html.Partial("~/Views/Partials/Home/Carousel.cshtml")
    @Html.Partial("~/Views/Partials/CalloutCards.cshtml")
    @Html.Partial("~/Views/Partials/Home/Resources.cshtml")
    @Html.Partial("~/Views/Partials/LatestNewsAndSocialFeed.cshtml")
</main>