@model IFramePageViewModel
@{
    Layout = "Base.cshtml";
}

@section Header {
    <div class="row expanded">
        <div class="small-1 small-offset-11">
            <span class="float-right iframe-header-toggle"><a class="openMenu">Hide</a></span>
        </div>
    </div>
    <div class="row">
        <div class="large-offset-1 large-2 medium-3 small-4 columns iframe-header-logo iframe-menu">
            <strong class="logo">
                <a href="/" accesskey="1"><img src="~/images/logo.png" alt="JNCC"></a>
            </strong>
        </div>
        <div class="large-9 medium-9 small-12 columns iframe-header-nav iframe-menu">
            @Html.Partial("~/Views/Partials/Header/MainNavigation.cshtml", Model.Navigation)
        </div>
    </div>
}
<main id="main">
    <script>
        $(document).ready(mapFrame);
        $(window).on('resize', mapFrame);
        function mapFrame() {
            var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
            var newH = h - 68.375;
            document.getElementById('map-frame').setAttribute("style", "height:" + newH + "px" + ";");
            document.getElementById('map-holder').setAttribute("style", "height:" + newH + "px" + ";");
        };
        $("body").css("overflow", "hidden");
    </script>
    <div id="map-holder" class="row expanded collapse is-display-block">
        <div id="map-holder" class="responsive-embed no-margin">
            <iframe id="map-frame" style="width:100%;height:100%" src="@Model.SourceUrl"></iframe>
        </div>
    </div>
    <script>
        function getSearchParameters() {
            var prmstr = window.location.search.substr(1);
            return prmstr != null && prmstr != "" ? transformToAssocArray(prmstr) : {};
        }
        function transformToAssocArray(prmstr) {
            var params = {};
            var prmarr = prmstr.split("&");
            for (var i = 0; i < prmarr.length; i++) {
                var tmparr = prmarr[i].split("=");
                params[tmparr[0]] = tmparr[1];
            }
            return params;
        }
        function applyParameters(paramlist) {
            out = "";
            for (i = 0; i < paramlist.length; i++) {
                if (params[paramlist[i]]) {
                    out += String.fromCharCode(38) + paramlist[i] + "=" + params[paramlist[i]];
                    delete params[paramlist[i]];
                }
            }
            return out;
        }
        var params = getSearchParameters();
        var mapsrc = applyParameters(['zoom', 'center', 'layerIds', 'baseLayerId', 'activeFilters']);
        var ifp = window.location.origin + window.location.pathname;
        if (Object.keys(params).length) {
            ifp += "?";
            for (var key in params) ifp += key + "=" + params[key] + String.fromCharCode(38);
            ifp = ifp.substr(0, ifp.length - 1);
        }
        var p = document.getElementById('map-frame');
        p.src = p.src + "?ifp=" + btoa(ifp) + mapsrc;
    </script>
</main>

