@model ScienceLandingPageViewModel
@{
    Layout = "Master.cshtml";
}
<main id="main">
    @(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
    <div class="container">
        @(Html.Action<BreadcrumbsSurfaceController>("RenderBreadcrumbs"))
        @(Html.Action<PageHeroSurfaceController>("RenderNoPageHeroHeadline"))
    </div>
</main>