@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.StaffDirectoryPage>
@using ContentModels = JNCC.PublicWebsite.Core.Models;
@{
    Layout = "Master.cshtml";
}
@(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
<div class="container">
    <div class="two-columns stretch-layout staff-directory columns-reverse-layout">
        @(Html.Action<StaffDirectorySurfaceController>("RenderFiltering"))
        <div id="content">
            <section class="staff-holder">
                @Model.Content.Preamble
                @(Html.Action<StaffDirectorySurfaceController>("RenderListing"))
            </section>
        </div>
    </div>
</div>