@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.StaffDirectoryPage>
@using ContentModels = JNCC.PublicWebsite.Core.Models;
@{
    Layout = "Master.cshtml";
}
@(Html.Action<PageHeroSurfaceController>("RenderPageHero"))
<div class="container">
    <div class="two-columns stretch-layout staff-directory columns-reverse-layout">
        <aside id="sidebar">
            <form action="#" role="search" class="search-form input-group">
                <label for="sidebar-search-field" class="show-for-sr">Sidebar Search:</label>
                <input type="search" placeholder="Search" class="input-group-field" id="sidebar-search-field">
                <button class="input-group-button" aria-label="sidebar-search-button"><i class="icon-search"></i></button>
            </form>
            <form action="#" class="staff-checkbox-form">
                <h2>Location</h2>
                <ul class="check-list no-bullet">
                    <li>
                        <label for="check-1">
                            <input id="check-1" type="checkbox">
                            <span class="fake-input"></span>
                            <span class="fake-label">Location Details1</span>
                        </label>
                    </li>
                    <li>
                        <label for="check-2">
                            <input id="check-2" type="checkbox">
                            <span class="fake-input"></span>
                            <span class="fake-label">Location Details2</span>
                        </label>
                    </li>
                    <li>
                        <label for="check-3">
                            <input id="check-3" type="checkbox">
                            <span class="fake-input"></span>
                            <span class="fake-label">Location Details3</span>
                        </label>
                    </li>
                    <li>
                        <label for="check-4">
                            <input id="check-4" type="checkbox">
                            <span class="fake-input"></span>
                            <span class="fake-label">Location Details4</span>
                        </label>
                    </li>
                    <li>
                        <label for="check-5">
                            <input id="check-5" type="checkbox">
                            <span class="fake-input"></span>
                            <span class="fake-label">Location Details5</span>
                        </label>
                    </li>
                    <li>
                        <label for="check-6">
                            <input id="check-6" type="checkbox">
                            <span class="fake-input"></span>
                            <span class="fake-label">Location Details6</span>
                        </label>
                    </li>
                </ul>
                <h2>District</h2>
                <ul class="check-list no-bullet">
                    <li>
                        <label for="check-7">
                            <input id="check-7" type="checkbox">
                            <span class="fake-input"></span>
                            <span class="fake-label">Location Details7</span>
                        </label>
                    </li>
                    <li>
                        <label for="check-8">
                            <input id="check-8" type="checkbox">
                            <span class="fake-input"></span>
                            <span class="fake-label">Location Details8</span>
                        </label>
                    </li>
                    <li>
                        <label for="check-9">
                            <input id="check-9" type="checkbox">
                            <span class="fake-input"></span>
                            <span class="fake-label">Location Details9</span>
                        </label>
                    </li>
                </ul>
                <input type="submit" name="staff-checkbox-form-submit" class="show-for-sr">
            </form>
        </aside>
        <div id="content">
            <section class="staff-holder">
                @Model.Content.Preamble
                <div class="filtration-section">
                    <div class="filtration-items-holder">
                        <div class="row">
                            <div class="columns medium-6 large-4">
                                <a href="#" class="card">
                                    <div class="img-holder">
                                        <img src="/images/img-5.jpg" alt="employee photo">
                                    </div>
                                    <div class="card-section">
                                        <h3>Full Name1</h3>
                                        <span class="subtitle">Job Title1</span>
                                        <div class="text">
                                            <p>Businesses often become known today through effective marketing. The marketing may be in the form.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="columns medium-6 large-4">
                                <a href="#" class="card">
                                    <div class="img-holder">
                                        <img src="/images/img-6.jpg" alt="employee photo">
                                    </div>
                                    <div class="card-section">
                                        <h3>Full Name1</h3>
                                        <span class="subtitle">Job Title2</span>
                                        <div class="text">
                                            <p>Businesses often become known today through effective marketing. The marketing may be in the form.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="columns medium-6 large-4">
                                <a href="#" class="card">
                                    <div class="img-holder">
                                        <img src="/images/img-7.jpg" alt="employee photo">
                                    </div>
                                    <div class="card-section">
                                        <h3>Full Name1</h3>
                                        <span class="subtitle">Job Title3</span>
                                        <div class="text">
                                            <p>Businesses often become known today through effective marketing. The marketing may be in the form.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="columns medium-6 large-4">
                                <a href="#" class="card">
                                    <div class="img-holder">
                                        <img src="/images/img-5.jpg" alt="employee photo">
                                    </div>
                                    <div class="card-section">
                                        <h3>Full Name1</h3>
                                        <span class="subtitle">Job Title4</span>
                                        <div class="text">
                                            <p>Businesses often become known today through effective marketing. The marketing may be in the form.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="columns medium-6 large-4">
                                <a href="#" class="card">
                                    <div class="img-holder">
                                        <img src="/images/img-6.jpg" alt="employee photo">
                                    </div>
                                    <div class="card-section">
                                        <h3>Full Name1</h3>
                                        <span class="subtitle">Job Title5</span>
                                        <div class="text">
                                            <p>Businesses often become known today through effective marketing. The marketing may be in the form.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="columns medium-6 large-4">
                                <a href="#" class="card">
                                    <div class="img-holder">
                                        <img src="/images/img-7.jpg" alt="employee photo">
                                    </div>
                                    <div class="card-section">
                                        <h3>Full Name1</h3>
                                        <span class="subtitle">Job Title6</span>
                                        <div class="text">
                                            <p>Businesses often become known today through effective marketing. The marketing may be in the form.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="filtration-buttons-holder">
                        <a href="#" class="button prev">Previous</a>
                        <a href="#" class="button next">Next</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>