@model StaffDirectoryFilteringViewModel
<aside id="sidebar">
    <form action="#" role="search" class="search-form input-group">
        <label for="sidebar-search-field">
            <input type="search" placeholder="Search" class="input-group-field" id="sidebar-search-field" aria-label="Sidebar Search" name="searchTerm" value="@Model.SearchTerm">
        </label>
        <button class="input-group-button" aria-label="sidebar-search-button"><i class="icon-search"></i></button>
    </form>
    <form action="#" class="staff-checkbox-form">
        @Html.DisplayFor(model => model.Locations)
        @Html.DisplayFor(model => model.Teams)
        <input type="submit" name="staff-checkbox-form-submit" class="show-for-sr">
    </form>
</aside>