@model IScienceDetailsImageGallerySectionViewModel
@if (Model.Images.Any())
{
    <div class="science-details-image-gallery">
        @foreach (var image in Model.Images)
        {
            <div><img src="@image.Url" alt="@image.AlternativeText" /></div>
        }
    </div>
}