<div class="row">
    <div class="columns small-12 medium-4">
        <nav class="holder" id="footer-nav" aria-label="footer-navigation">
            <h3>About Us</h3>
            <ul class="footer-nav no-bullet">
                <li><a href="#" accesskey="2">News</a></li>
                <li><a href="#">Procurement</a></li>
                <li><a href="#">Consultations</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#" accesskey="9">Contact Us</a></li>
                <li><a href="#">More About Us</a></li>
            </ul>
        </nav>
    </div>
    <div class="columns small-12 medium-4">
        <nav class="holder" aria-label="footer-navigation">
            <h3>OUR Science</h3>
            <ul class="footer-nav no-bullet">
                <li><a href="#">Data Hub</a></li>
                <li><a href="#">MHC</a></li>
            </ul>
        </nav>
    </div>
    <div class="columns small-12 medium-4">
        <nav class="holder" aria-label="footer-navigation">
            <h3>Our Services</h3>
            <ul class="footer-nav no-bullet">
                <li><a href="#">Valuing the Environment</a></li>
                <li><a href="#">Advice</a></li>
                <li><a href="#">Monitoring</a></li>
                <li><a href="#">Pressures</a></li>
            </ul>
        </nav>
    </div>
</div>