<ul class="social-media no-bullet">
    <li><a href="#"><span class="show-for-sr">Facebook</span><i class="icon-facebook"></i></a></li>
    <li><a href="#"><span class="show-for-sr">Twitter</span><i class="icon-twitter"></i></a></li>
    <li><a href="#"><span class="show-for-sr">Youtube</span><i class="icon-youtube"></i></a></li>
</ul>