@model IEnumerable<NavigationItemViewModel>
<ul class="footer-bottom-list no-bullet info">
    @foreach (var item in Model)
    {
        <li><a href="@item.Url" target="@item.Target" accesskey="@item.AccessKey">@item.Text</a></li>
    }
</ul>