<ul class="footer-bottom-list no-bullet info">
    <li><a href="#" accesskey="8">Terms of use</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Cookie policy</a></li>
    <li><a href="#">Accessability</a></li>
</ul>