
@include foundation-thumbnail;

$floating-image-margin: 1rem;


%img-float-left {    
    margin-bottom: $floating-image-margin;
    margin-right: $floating-image-margin;
}

%img-float-right {
    margin-bottom: $floating-image-margin;
    margin-left: $floating-image-margin;
}

img {
    &.float-left {
        @extend .thumbnail;
        @extend %img-float-left;
    }

    &.float-right {
        @extend .thumbnail;
        @extend %img-float-right;
    }
}

.float-left {
    img {
        @extend .thumbnail;
        @extend %img-float-left;
    }
}

.float-right {
    img {
        @extend .thumbnail;
        @extend %img-float-right;
    }
}

.clearfix {
    clear: both;
}