.home-a {
	h2 {
		color: #495651;

		@include breakpoint(large) {
			font-size: rem-calc(24px);
			font-weight: 700;
			margin-bottom: rem-calc(16px);
		}
	}

	.card-section {
		border: 1px solid #dae3df;
		border-top: none;
		font-size: rem-calc(14px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include breakpoint(large) {
			padding: rem-calc(29px);
		}

		p {
			line-height: 1.82352941;

			@include breakpoint(large) {
				margin-bottom: rem-calc(37px);
			}
		}

		.button {
			font-size: rem-calc(14px);
			text-transform: none;
			border-radius: rem-calc(3px);
			padding-top: rem-calc(13px);
			font-weight: 400;
		}
	}

	.row {
		margin: 0 -.625rem;
	}

	.visual-section {
		.container {
			position: relative;
			z-index: 6;

			@include breakpoint(medium) {
				margin: 0 4rem !important;
				width: auto;
			}

			@media screen and (min-width: 1300px) {
				margin: 0 auto !important;
				width: 100%;
			}

			.row {
				@include breakpoint(xlarge) {
					margin: 0 -.625rem !important;
				}

				@include breakpoint(xxlarge) {
					margin: 0 -2.34375rem !important;
				}
			}
		}
	}
}

.articles-section {
	padding: 2rem 0;

	@include breakpoint(large) {
		padding: rem-calc(100px 0 83px);
	}

	.row {
		@include breakpoint(large) {
			margin: rem-calc(0 -17px);
		}
	}

	.columns {
		@media screen and (max-width: 768px) {
			flex: 0 0 50%;
		}

		@media screen and (max-width: 480px) {
			flex: 0 0 100%;
		}
	}

	&.resources {
		background-image: linear-gradient(to right, #c9e6cc, #e0f0e7);

		@include breakpoint(large) {
			padding: rem-calc(119px 0 54px);
		}
		
		.columns {
			@include breakpoint(large) {
				padding-left: rem-calc(22px);
				padding-right: rem-calc(22px);
			}
		}

		.row {
			@include breakpoint(large) {
				margin: rem-calc(0 -22px);
			}
		}

		h2 {
			@include breakpoint(large) {
				margin-bottom: rem-calc(55px);
			}
		}

		.card {
			.img-holder {
				padding-top: 62%;
			}
		}

		.card-section {
			p {
				line-height: 1.82352941;
				font-weight: 500;
				font-size: rem-calc(16px); 

				@include breakpoint(large) {
					margin-bottom: rem-calc(41px);
				}
			}
		}
	}

	.card {
		@include breakpoint(large) {
			margin-bottom: rem-calc(68px);
			height: calc(100% - 4.25rem);
		}

		.img-holder {
			@include breakpoint(large) {
				padding-top: 42.4%;
			}
		}
	}
}